FSTests/Web References/com.febrersoftware.www/portalws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://febrersoftware.com" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://febrersoftware.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://febrersoftware.com">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sApellido1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sApellido2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sBirthMonth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sBirthDay" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sBirthYear" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sNotifications" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sNewsletter" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sCountryCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sRemember" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sGenderMale" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sGenderFemale" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NombreCompleto">
        <s:complexType />
      </s:element>
      <s:element name="NombreCompletoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NombreCompletoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsuarioId">
        <s:complexType />
      </s:element>
      <s:element name="UsuarioIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFromName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="NombreCompletoSoapIn">
    <wsdl:part name="parameters" element="tns:NombreCompleto" />
  </wsdl:message>
  <wsdl:message name="NombreCompletoSoapOut">
    <wsdl:part name="parameters" element="tns:NombreCompletoResponse" />
  </wsdl:message>
  <wsdl:message name="UsuarioIdSoapIn">
    <wsdl:part name="parameters" element="tns:UsuarioId" />
  </wsdl:message>
  <wsdl:message name="UsuarioIdSoapOut">
    <wsdl:part name="parameters" element="tns:UsuarioIdResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:portType name="PortalWSSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NombreCompleto">
      <wsdl:input message="tns:NombreCompletoSoapIn" />
      <wsdl:output message="tns:NombreCompletoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UsuarioId">
      <wsdl:input message="tns:UsuarioIdSoapIn" />
      <wsdl:output message="tns:UsuarioIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailSoapIn" />
      <wsdl:output message="tns:SendMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortalWSSoap" type="tns:PortalWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://febrersoftware.com/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://febrersoftware.com/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NombreCompleto">
      <soap:operation soapAction="http://febrersoftware.com/NombreCompleto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsuarioId">
      <soap:operation soapAction="http://febrersoftware.com/UsuarioId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://febrersoftware.com/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PortalWSSoap12" type="tns:PortalWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://febrersoftware.com/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://febrersoftware.com/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NombreCompleto">
      <soap12:operation soapAction="http://febrersoftware.com/NombreCompleto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsuarioId">
      <soap12:operation soapAction="http://febrersoftware.com/UsuarioId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://febrersoftware.com/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortalWS">
    <wsdl:port name="PortalWSSoap" binding="tns:PortalWSSoap">
      <soap:address location="http://www.febrersoftware.com/xml/portalws.asmx" />
    </wsdl:port>
    <wsdl:port name="PortalWSSoap12" binding="tns:PortalWSSoap12">
      <soap12:address location="http://www.febrersoftware.com/xml/portalws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>