FSTests/Connected Services/ServiceReference2/adminws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://febrersoftware.com" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://febrersoftware.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://febrersoftware.com">
      <s:element name="Tablas">
        <s:complexType />
      </s:element>
      <s:element name="TablasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TablasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsquemaTabla">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreTabla" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsquemaTablaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EsquemaTablaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tabla">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreTabla" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TablaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TablaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Selection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Usuarios">
        <s:complexType />
      </s:element>
      <s:element name="UsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsuariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Articulos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArticulosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArticulosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TablasSoapIn">
    <wsdl:part name="parameters" element="tns:Tablas" />
  </wsdl:message>
  <wsdl:message name="TablasSoapOut">
    <wsdl:part name="parameters" element="tns:TablasResponse" />
  </wsdl:message>
  <wsdl:message name="EsquemaTablaSoapIn">
    <wsdl:part name="parameters" element="tns:EsquemaTabla" />
  </wsdl:message>
  <wsdl:message name="EsquemaTablaSoapOut">
    <wsdl:part name="parameters" element="tns:EsquemaTablaResponse" />
  </wsdl:message>
  <wsdl:message name="TablaSoapIn">
    <wsdl:part name="parameters" element="tns:Tabla" />
  </wsdl:message>
  <wsdl:message name="TablaSoapOut">
    <wsdl:part name="parameters" element="tns:TablaResponse" />
  </wsdl:message>
  <wsdl:message name="SelectionSoapIn">
    <wsdl:part name="parameters" element="tns:Selection" />
  </wsdl:message>
  <wsdl:message name="SelectionSoapOut">
    <wsdl:part name="parameters" element="tns:SelectionResponse" />
  </wsdl:message>
  <wsdl:message name="UsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:Usuarios" />
  </wsdl:message>
  <wsdl:message name="UsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:UsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ArticulosSoapIn">
    <wsdl:part name="parameters" element="tns:Articulos" />
  </wsdl:message>
  <wsdl:message name="ArticulosSoapOut">
    <wsdl:part name="parameters" element="tns:ArticulosResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminWSSoap">
    <wsdl:operation name="Tablas">
      <wsdl:input message="tns:TablasSoapIn" />
      <wsdl:output message="tns:TablasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EsquemaTabla">
      <wsdl:input message="tns:EsquemaTablaSoapIn" />
      <wsdl:output message="tns:EsquemaTablaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tabla">
      <wsdl:input message="tns:TablaSoapIn" />
      <wsdl:output message="tns:TablaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Selection">
      <wsdl:input message="tns:SelectionSoapIn" />
      <wsdl:output message="tns:SelectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Usuarios">
      <wsdl:input message="tns:UsuariosSoapIn" />
      <wsdl:output message="tns:UsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Articulos">
      <wsdl:input message="tns:ArticulosSoapIn" />
      <wsdl:output message="tns:ArticulosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminWSSoap" type="tns:AdminWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Tablas">
      <soap:operation soapAction="http://febrersoftware.com/Tablas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsquemaTabla">
      <soap:operation soapAction="http://febrersoftware.com/EsquemaTabla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tabla">
      <soap:operation soapAction="http://febrersoftware.com/Tabla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Selection">
      <soap:operation soapAction="http://febrersoftware.com/Selection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuarios">
      <soap:operation soapAction="http://febrersoftware.com/Usuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Articulos">
      <soap:operation soapAction="http://febrersoftware.com/Articulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminWSSoap12" type="tns:AdminWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Tablas">
      <soap12:operation soapAction="http://febrersoftware.com/Tablas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsquemaTabla">
      <soap12:operation soapAction="http://febrersoftware.com/EsquemaTabla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tabla">
      <soap12:operation soapAction="http://febrersoftware.com/Tabla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Selection">
      <soap12:operation soapAction="http://febrersoftware.com/Selection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuarios">
      <soap12:operation soapAction="http://febrersoftware.com/Usuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Articulos">
      <soap12:operation soapAction="http://febrersoftware.com/Articulos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminWS">
    <wsdl:port name="AdminWSSoap" binding="tns:AdminWSSoap">
      <soap:address location="http://www.febrersoftware.com/xml/adminws.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminWSSoap12" binding="tns:AdminWSSoap12">
      <soap12:address location="http://www.febrersoftware.com/xml/adminws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>