FSPortalNET/FSPortalNET/App_WebReferences/FS/portal.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.febrersoftware.com"
                  xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.febrersoftware.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.febrersoftware.com">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sApellido1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sApellido2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sBirthMonth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sBirthDay" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sBirthYear" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sNotifications" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sNewsletter" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sCountryCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sRemember" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sGenderMale" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sGenderFemale" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Selection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Usuarios">
        <s:complexType />
      </s:element>
      <s:element name="UsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsuariosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Articulos">
        <s:complexType />
      </s:element>
      <s:element name="ArticulosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArticulosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NombreCompleto">
        <s:complexType />
      </s:element>
      <s:element name="NombreCompletoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NombreCompletoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevUsuarioID">
        <s:complexType />
      </s:element>
      <s:element name="DevUsuarioIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DevUsuarioIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFromName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="SelectionSoapIn">
    <wsdl:part name="parameters" element="tns:Selection" />
  </wsdl:message>
  <wsdl:message name="SelectionSoapOut">
    <wsdl:part name="parameters" element="tns:SelectionResponse" />
  </wsdl:message>
  <wsdl:message name="UsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:Usuarios" />
  </wsdl:message>
  <wsdl:message name="UsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:UsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ArticulosSoapIn">
    <wsdl:part name="parameters" element="tns:Articulos" />
  </wsdl:message>
  <wsdl:message name="ArticulosSoapOut">
    <wsdl:part name="parameters" element="tns:ArticulosResponse" />
  </wsdl:message>
  <wsdl:message name="NombreCompletoSoapIn">
    <wsdl:part name="parameters" element="tns:NombreCompleto" />
  </wsdl:message>
  <wsdl:message name="NombreCompletoSoapOut">
    <wsdl:part name="parameters" element="tns:NombreCompletoResponse" />
  </wsdl:message>
  <wsdl:message name="DevUsuarioIDSoapIn">
    <wsdl:part name="parameters" element="tns:DevUsuarioID" />
  </wsdl:message>
  <wsdl:message name="DevUsuarioIDSoapOut">
    <wsdl:part name="parameters" element="tns:DevUsuarioIDResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Selection">
      <wsdl:input message="tns:SelectionSoapIn" />
      <wsdl:output message="tns:SelectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Usuarios">
      <wsdl:input message="tns:UsuariosSoapIn" />
      <wsdl:output message="tns:UsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Articulos">
      <wsdl:input message="tns:ArticulosSoapIn" />
      <wsdl:output message="tns:ArticulosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NombreCompleto">
      <wsdl:input message="tns:NombreCompletoSoapIn" />
      <wsdl:output message="tns:NombreCompletoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DevUsuarioID">
      <wsdl:input message="tns:DevUsuarioIDSoapIn" />
      <wsdl:output message="tns:DevUsuarioIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailSoapIn" />
      <wsdl:output message="tns:SendMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosSoap" type="tns:ServiciosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.febrersoftware.com/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://www.febrersoftware.com/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Selection">
      <soap:operation soapAction="http://www.febrersoftware.com/Selection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuarios">
      <soap:operation soapAction="http://www.febrersoftware.com/Usuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Articulos">
      <soap:operation soapAction="http://www.febrersoftware.com/Articulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NombreCompleto">
      <soap:operation soapAction="http://www.febrersoftware.com/NombreCompleto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevUsuarioID">
      <soap:operation soapAction="http://www.febrersoftware.com/DevUsuarioID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://www.febrersoftware.com/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosSoap12" type="tns:ServiciosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.febrersoftware.com/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://www.febrersoftware.com/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Selection">
      <soap12:operation soapAction="http://www.febrersoftware.com/Selection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuarios">
      <soap12:operation soapAction="http://www.febrersoftware.com/Usuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Articulos">
      <soap12:operation soapAction="http://www.febrersoftware.com/Articulos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NombreCompleto">
      <soap12:operation soapAction="http://www.febrersoftware.com/NombreCompleto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevUsuarioID">
      <soap12:operation soapAction="http://www.febrersoftware.com/DevUsuarioID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://www.febrersoftware.com/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicios">
    <wsdl:port name="ServiciosSoap" binding="tns:ServiciosSoap">
      <soap:address location="http://localhost/FSPortalNET/xml/portal.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosSoap12" binding="tns:ServiciosSoap12">
      <soap12:address location="http://localhost/FSPortalNET/xml/portal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>